.image1 {

}

.about-image-block .image2 {
    background-color: red;
    overflow-x: hidden;
    margin-left: 29%;
}
.about-image-block .image2 img {
    position: relative;
    right: 25%;
}

.about-image-block {
    position: relative;
}

.about-image-block .image1 {
    background-color: blue;
    width: 35%;
    position: absolute;
    z-index: 33;
    top: 27%;
}

.about-image-block .image1 img {
    width: 100%;

}

.about-us.dark-pattern .title {
    color: white;
}
