.infoContact {
    text-align: center;
}

.titleContact {
    text-align: center;
}
.contact , .contact h2, h2 {
    font-family: 'Montserrat', sans-serif;

}
.contact h2 {
    text-transform: uppercase;
}